<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="findEat.DB.bean.FindEatVO" alias="findEatVO"/>
		<typeAlias type="findEat.DB.bean.LoginVO" alias="loginVO"/>
		<typeAlias type="findEat.DB.bean.IndexCalendarVO" alias="indexCalVO"/>
		<typeAlias type="findEat.DB.bean.FoodVO" alias="foodVO"/>
		<typeAlias type="findEat.DB.bean.BoardVO" alias="boardVO"/>
		<typeAlias type="findEat.DB.bean.CommentsVO" alias="commentsVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/sql/foodSQL.xml"/>
		<mapper resource="/sql/loginSQL.xml"/>
		<mapper resource="/sql/indexCalSQL.xml"/>
		<mapper resource="/sql/boardSQL.xml"/>
	</mappers>


</configuration>